# The Docker image that will be used to build your app
image: python:3.11

create-pages:
  pages:
    publish: public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH

  before_script:
    - pip install mkdocs-material mkdocs-awesome-pages-plugin

  script:
    - mkdocs build --site-dir public
